<!DOCTYPE html>
<html>
  <head>
    <title>Brand 2</title>
    <%= csrf_meta_tags %>

    <style type="text/css">
      * { color: green; }
    </style>
  </head>
  <body>

    <%= render 'toolbar' %>

    <%= yield %>

  </body>
</html>
